*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* 
width = width + padding + border
height = height + paddinig + border

often means it appears bigger then what you set it because you 
have to take into account the other factors

so to eliminate these factors we can use box-sizing: border-box
to keep it all the same proportions
*/

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

/* you can use 
    .p1
or 
    div.p1
*/

.logo{
    /* the link text remains blue because it is a link */
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:35%;
}
/* removes the bullet points from <li> */
.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px;
}

.apple{
    display:none;
    /* change to block to make no longer hidden */

    cursor: pointer;
}

.apple div{
    width:25px;
    height:3px;
    background-color: white;
    margin:5px;

}
body{
    /* can no longer scroll to the sidebar */
    overflow-x: hidden;
}
.nav-links{
    position: absolute;
    right:0px;
    height: 92vh;
    top: 8vh;
    background-color: #5D4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    /* moves the sidebar off the screen */
    transform:translateX(100%);
    

    transition: transform 0.5s ease-in;
}

.nav-links li{
    opacity: 0;
}

.apple{
    display: block;
}

.nav-active{
    transform: translateX(0%);
}

/* we will run this animtion from our js*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}